Younlee Lee</p>

The internet is an open and public system and we all send and receive information over</br>
shared wires and connections. But we exchange a lot of private and personal data things</br>
like bank information, password, credit card number, etc.</p>

A process is known as encryption, the scrambling, and changing of the messages to</br>
hide the original text. On the other hand, decryption is the process of un-scrambling</br>
the message to make it readable. Caesar Cipher is an algorithm that substitutes each</br>
letter in the original message with a letter a certain number of steps down the alphabet</br>
or each letter in the original message with a letter a certain number of steps down the</br>
alphabet.</p>

If the number is something only the sender and receiver know, then it is called the key.</br>
It allows the reader to unlock the secret message. But its problem is easily breaking to</br>
anybody or crack the encrypted possible key, and in the English alphabet by trying</br>
every possible key.</p> 

When sender and receiver share the same key to scramble and unscramble a message</br>
it is called Symmetric Encryption like a Caesar Cipher, the secret key has to be</br>
agreed on ahead of time by two people in private. So that iss great for the people.</br>
But two computers can't meet in private to agree on a secret key. Instead, computers</br>
use asymmetric keys, a public key that can be exchanged with anybody and a private key</br>
that is not shared. The Public Key is used to encrypt data and anybody can use it to</br>
create a secret message, but the secret can only be decrypted.</p>  

At my work, we treat the member data this way and we save the file by making password</br>
only the member put their personal information such as social security number +</br> 
last name or cell phone number and we call them and let them know.</br>
We never exchange sensitive information through email.</p> 

Public key cryptography is the foundation of all secure messaging on the open internet,</br>
including the security Protocols known as browsing the web. Our computer uses this today</br>
anytime we see the little lock or the letters HTTP in our browser address bar.</br>
This means our computer is using public-key encryption to exchange data securely with</br>
the website we are on. As more and more people get on the internet more and</br>
more private data will be transmitted, and the need to secure that data will be</br>
even more important. And as computers become faster and more faster we will have to</br>
develop new ways to make encryption too hard for computers to break.</p>