Younlee Lee</p>

A computer network is a system in which multiple computers are connected to</br>
each other to share information and resources. Networked computing devices pass data to</br>
each other in the form of packets across connections established using either cable or</br>
wireless media. A network packet is a formatted unit of data sent through a network to</br>
the destination. The Institute of Electrical and Electronics Engineers (IEEE) defines</br>
a network as a "data communication system that enables several independent devices to</br>
communicate directly with each other over a moderately fast physical communicatio</br>
channel within the appropriate area".</p>

The advantages of a network are that we can access files on computers on</br>
different networks through file sharing, play digital media such as photos, music, or</br>
videos over the network through media streaming, and share broadband Internet connections,</br>
eliminating the need to purchase separate Internet accounts for each PC.</p> 

Also, printer sharing allows everyone on the network to buy one printer instead of</br> 
sharing it with each PC, and above all, you can meet with others on the Internet and</br> 
play network games through PCs, game consoles, etc. Besides, if there is a constraint that</br>
PC work should only be done on a desk by wire, it has a great advantage of being able to</br>
work on the web off the desk with wireless networks using wireless radio waves.</p>

The disadvantage is that it receives viruses, malware, and unwanted information, and as</br>
the network becomes possible, such as personal information leakage due to hacking,</br>
security problems occur, and most of all, data modification is possible.</p>

Personal Area Network (PAN): The smallest network</br>
Local Area Network (LAN): Local Area Network</br>
Metropolitan Area Network (MAN): Metropolitan Area Network</br>
Wide Area Network (WAN): Broadband Network</br>
Value-Added Network (VAN): A network with a variety of information services, such as</br>
accumulation and provision of value-added network information, changes in communication</br>
speed and format, and selection of communication routes.</br>