Younlee Lee</p>

Volp has a digitalized voice and an IP delivery system that enables enhanced Internet services</br>
such as Internet fax, web call, and integrated message processing as well as telephones.</br>
Standardization of technologies and protocols seems important because this technology</br>
should work not only on the Internet but also on private IP-based networks,</br>
public telephone networks, or complex networks. Calls to VolP (PC to PC) are not</br>
charged at all. I would like to recommend it to our company because it is very effective</br>
in reducing total personal and management costs for individuals and businesses.</p></br>

Web conferencings are a comprehensive term for various types of online conferencing and</br>
collaboration services, including webinars, webcasts, and Web conferences,</br>
and these days meetings through webinars and zoom may be an example.</br></p>

FTP was a very familiar session. Filezilla is used almost every day, a protocol for</br>
transferring large files between the company and the client. The website data can</br>
also be stored and managed on FTP, but only some folders can be opened by</br>
placing a certain password or restrictive use on clients who can be trusted.</p>

Git is a system similar to a comb bucket, a distributed version management system that</br>
tracks changes in computer files and coordinates the work of those files among multiple users.</br>
The advantages of this system are the creation of a fast collaborative environment,</br>
the ability to review code who modified what and how, and the issue tracker</br>
support flag hub to easily share the collar. Most IDE's provide git links.</br>
Git's process is Working Directory -> Staging Area->Local Repository->Remote Repository.</p>