Younlee Lee</p>

Through this lecture, I was able to study various kinds of social media, but</br>
I think the most basic positive aspect of SNS to analyze is building networking.</br>
Building new connections and strengthening existing connections may be the fundamental reason why people use SNS.</br>
I can also use the network to meet more than just my friends, which was also a new concept that never existed before.</br>
SNS such as Facebook allows people to build connections around the world. It is also a positive effect to make friends who</br>
live abroad even if they do not go to that country. It is also positive that there is a new way to express one's personality.</br>
Our peers like to express their own colors, and there is a place of expression that can reveal them well.</p></br>

However, The social media has created more advantages by combining with mobile devices.</br>
The combination with mobile-enabled immediate feedback in real-time, reducing the unit of time to seconds.</br>
This affected more socially than individually, such as politicians' promotional measures and news channels.</br>
SNS has changed people from inmates to active participants in providing information, and there has been a phenomenon of</br>
feedback to each other and giving their own opinions, even if it is not grandiose. I think this is the positive effect of SNS.</br></p>


On the other hand, there are many negative aspects, but in personal terms, too much privacy is disclosed.
Information about me can also be exposed to people I don't want to disclose, and such information spreads uncontrollably once
it is released.The system that can reveal all of a person's private life with a little effort is SNS.</p>

Also, the social deprivation and lack of information felt by people who do not use SNS are negative aspects of social origin.</p>