<h3>Younlee Lee</h3>

<p>The internet is in charge of anybody. No one controls it.
We sometimes call the internet as web but it is included World Wide Web, email, sharing files, webcam, video,
and online game service. The internet is a distributed packet-switched network.</p>

<p>It was a result of another experiment called the Arpanet which stood for an advanced research project agency network.
The U.S. Department of Defense was concerned about how to manage important military information, which led to
the development of the Internet.</p> 

<p>Although the Internet was created for military purposes in preparation for the War and has been used only by limited people since
its difficulty in using it, the birth of the World Wide Web has accelerated the spread of the Internet.</p> 

<p>Paul Baran was trying to figure out how to build a communication system that might survive a nuclear attack.
It is nationwide experiment packet network.</p>

<p>One most important thing through session 1 for me, I have to search to understand a packet's meaning.
It was the basic unit of information transmitted over the internet. That small piece allows the capacity of
the network to be used more efficiently. So When internet speed is slow and weak, I can assume one of
the reasons for packet loss.</p> 