body {
	background-color: #eee;
	font-family: "Arial", "sans-serif";
}

a {
	text-decoration: none;
	front-weight: bold;
	color: red;
}

	h1, h2, h3 {
	margin: 0;
	}

#container {
	background-color: #F5CDCD;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
    background-color: #070707;
    color: #3D3C32;
	text-align: center;
	padding: 10px;
}

#content {
	padding: 10px;
}

#nav {
	width: 180px;
	float: left;
}

#nav .selected {
	front-weight: bold;
}

#nav ul {
list-style-type: none;
padding: 0;	
}

#main {
	width; 600px;
	float; right;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align; right;
}