body {
    background-color: rgb(14, 60, 61);
  }
 img {
   width: 50%;
   height: 70%;
  }

  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 60px;